

<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>welcome.</span>
    <span class="spacer"></span>
    <a mat-icon-button aria-label="email" href="mailto:ajglosson@gmail.com"><fa class="icon-right" name="envelope" ></fa></a>
    <a mat-icon-button aria-label="twitter" href="https://twitter.com/sushithyme"><fa class="icon-right" name="twitter" ></fa></a>
    <a mat-icon-button aria-label="linked in" href="https://www.linkedin.com/in/amandaglosson"><fa class="icon-right" name="linkedin" ></fa></a>
    <a mat-icon-button aria-label="git hub" href="https://github.com/ajglosson"><fa class="icon-right" name="github" ></fa></a>
  </mat-toolbar-row> 
</mat-toolbar>

<div class="agdev-body mat-body">
  <div class="photo-wrapper">  
      <img class="photo"  src="assets\photo\amanda_mariopipe.png" />
  </div>
  <h1 class="mat-h1 h-left">Amanda Glosson</h1>
  <h2 class="mat-h2 h-left">Sr. Principal SE</h2>  
  <div class="list">
    <ul class="ul-list">
        <li *ngFor="let milestone of milestones">
          <label class="list-icon-wrapper">
            <fa-icon class="list-icon-right" [icon]="milestone.icon"></fa-icon>
          </label>
          {{ milestone.name }} <a href="{{ milestone.linkHref }}">{{ milestone.linkText }}</a>
        </li>
      </ul>
  </div>
    
</div>

<router-outlet></router-outlet>
